<div class="home-bg">
  <div
    class="card container color-primary card-bg app-border"
    style="max-width: 60rem; border-radius: 10px"
  >
    <div class="card-body">
      <h1 class="card-title">
        Bem vindo, comece já a descobrir e compartilhar ideias.
      </h1>
      <h3 class="card-text mt-4">O que você quer descobrir hoje?</h3>
      <form>
        <div class="form-group search-form">
          <input
            type="text"
            class="form-control app-border color-secondary"
            aria-describedby="emailHelp"
            placeholder="Pesquisar..."
            style="max-width: fit-content"
          />
          <button
            type="submit"
            class="btn app-border color-secondary font-weight-bold app-buttom"
            style="margin-left: 10px"
          >
            Pesquisar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div
  class="container pt-3 pb-5 app-border-bottom"
  *ngIf="accountService.currentUser$ | async"
>
  <div>
    <div class="row" style="align-items: center">
      <h4 class="color-secondary" style="text-align: center">
        Equipes em que participo
      </h4>
      <button
        class="btn btn-primary my-2 my-sm-0 mx-2 bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
        type="button"
      >
        Criar Equipe
      </button>
    </div>
    <div class="row flex-nowrap teams-container">
      <div
        class="card mr-4 col-sm-6 col-md-4 col-lg-2"
        style="width: 18rem; padding: 0"
      >
        <img
          src="../../assets/images/test-image-card.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title card-title-teams color-secondary">
            Equipe TCC da facul
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="row">
      <h4 class="color-secondary">Projetos em desenvolvimento</h4>
    </div>
    <div class="row flex-nowrap teams-container">
      <div
        class="card mr-4 col-sm-6 col-md-4 col-lg-2"
        style="width: 18rem; padding: 0"
      >
        <img
          src="../../assets/images/test-image-card.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title card-title-teams color-secondary">
            Projeto nota 10
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container pt-3 pb-5 home-body row"
  *ngIf="(accountService.currentUser$ | async) === null"
  style="margin: auto"
>
  <div class="col-lg-10">
    <div class="row">
      <div>
        <tabset>
          <tab heading="Projetos" id="tab1" (selectTab)="onProjectsTab()"
            ><br
          /></tab>
          <tab heading="Ideias" (selectTab)="onIdeasTab()"><br /></tab>
          <tab heading="Problemas" (selectTab)="onProblemsTab()"><br /></tab>
        </tabset>
      </div>
      <div class="ml-auto mr-5 mt-2 color-secondary">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="1"
            checked
            (change)="toggleRadios($event.target.value)"
          />
          <label class="form-check-label" for="inlineRadio1">Em Alta</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="2"
            (change)="toggleRadios($event.target.value)"
          />
          <label class="form-check-label" for="inlineRadio2">Recentes</label>
        </div>
      </div>
    </div>
    <!--Projetos-->
    <div
      class="row"
      *ngIf="proposalType === 'projects'"
      (scroll)="onProjectsScroll($event)"
      style="overflow-y: auto; max-height: 1000px"
    >
      <div
        class="card mb-2 mr-2 col-sm-12 col-lg-12"
        style="width: 18rem"
        *ngFor="let project of items$ | async"
      >
        <div class="card-body">
          <fa-icon
            [icon]="starFavoriteRegular"
            class="fa-lg star-favorite"
            (click)="toggleVote($event)"
          ></fa-icon>
          <h5 class="card-title">{{ project.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ interestAreaService.getInterestAreaName(project.category) }}
          </h6>
          <p class="card-text">
            {{ project.description }}
          </p>
          <p class="card-text text-muted">
            {{ project.creationDate | date: "dd/MM/yy" }}
          </p>
          <div
            style="display: flex; flex-direction: row"
            (click)="toggleVote($event)"
          >
            <fa-icon
              [icon]="arrowSolid"
              class="fa-lg"
              [hidden]="true"
            ></fa-icon>
            <fa-icon [icon]="arrowRegular" class="fa-lg"></fa-icon>
            <h5 class="ml-2">{{ project.votes }}</h5>
            <div class="ml-auto">
              <button
                type="submit"
                class="btn app-border color-secondary font-weight-bold app-buttom"
                style="margin-left: 10px"
              >
                Comentar
              </button>
              <button
                type="submit"
                class="btn app-border color-secondary font-weight-bold app-buttom"
                style="margin-left: 10px"
              >
                Participar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Ideias-->
    <div
      class="row"
      *ngIf="proposalType === 'ideas'"
      (scroll)="onIdeasScroll($event)"
      style="overflow-y: auto; max-height: 1000px"
    >
      <div
        class="card mb-2 mr-2 col-sm-12 col-lg-12"
        style="width: 18rem"
        *ngFor="let idea of items$ | async"
      >
        <div class="card-body">
          <fa-icon
            [icon]="starFavoriteRegular"
            class="fa-lg star-favorite"
            (click)="toggleVote($event)"
          ></fa-icon>
          <h5 class="card-title">{{ idea.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ interestAreaService.getInterestAreaName(idea.category) }}
          </h6>
          <p class="card-text">
            {{ idea.description }}
          </p>
          <p class="card-text text-muted">
            {{ idea.creationDate | date: "dd/MM/yy" }}
          </p>
          <div
            style="display: flex; flex-direction: row"
            (click)="toggleVote($event)"
          >
            <fa-icon
              [icon]="arrowSolid"
              class="fa-lg"
              [hidden]="true"
            ></fa-icon>
            <fa-icon [icon]="arrowRegular" class="fa-lg"></fa-icon>
            <h5 class="ml-2">{{ idea.votes }}</h5>
            <div class="ml-auto">
              <button
                type="submit"
                class="btn app-border color-secondary font-weight-bold app-buttom"
                style="margin-left: 10px"
              >
                Comentar
              </button>
              <button
                type="submit"
                class="btn app-border color-secondary font-weight-bold app-buttom"
                style="margin-left: 10px"
              >
                Participar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Problemas-->
    <div
      class="row"
      *ngIf="proposalType === 'problems'"
      (scroll)="onProblemsScroll($event)"
      style="overflow-y: auto; max-height: 1000px"
    >
      <div
        class="card mb-2 mr-2 col-sm-12 col-lg-12"
        style="width: 18rem"
        *ngFor="let problem of items$ | async"
      >
        <div class="card-body">
          <fa-icon
            [icon]="starFavoriteRegular"
            class="fa-lg star-favorite"
            (click)="toggleVote($event)"
          ></fa-icon>
          <h5 class="card-title">{{ problem.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ interestAreaService.getInterestAreaName(problem.category) }}
          </h6>
          <p class="card-text">
            {{ problem.description }}
          </p>
          <p class="card-text text-muted">
            {{ problem.creationDate | date: "dd/MM/yy" }}
          </p>
          <div
            style="display: flex; flex-direction: row"
            (click)="toggleVote($event)"
          >
            <fa-icon
              [icon]="arrowSolid"
              class="fa-lg"
              [hidden]="true"
            ></fa-icon>
            <fa-icon [icon]="arrowRegular" class="fa-lg"></fa-icon>
            <h5 class="ml-2">{{ problem.votes }}</h5>
            <div class="ml-auto">
              <button
                type="submit"
                class="btn app-border color-secondary font-weight-bold app-buttom"
                style="margin-left: 10px"
              >
                Comentar
              </button>
              <button
                type="submit"
                class="btn app-border color-secondary font-weight-bold app-buttom"
                style="margin-left: 10px"
              >
                Participar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <h4 class="color-secondary">Categorias</h4>
    <div class="home-categories">
      <button
        class="btn btn-primary mx-2 bg-transparent app-border color-secondary font-size-category font-weight-bold app-buttom mb-2"
        type="button"
        *ngFor="let area of this.interestedAreasService.interestAreasList$"
      >
        {{ area.replaceAll("_", " ") }}
      </button>
    </div>
  </div>
</div>
