/*Aqui estão os comandos para zera margin e padding, fontes, tirar sublinha de link e cores padrão*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --dark-grey: #68788C;
    --soft-grey: #cfdae7;
    --font-grey: #31363d;
  }

/*Aqui está o header, a parte superior de navegação do site*/

.flex-container {
    display: flex;
}

.page-header {
    background-color: var(--dark-grey);
    height: 55px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.brand-logo {
    width: 80px;
}

.page-header-span {
    align-items: center;
}

.login-icon {
    width: 45px;
}

/*Corpo da home page*/

.body-content {
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
    height: 80%;
}

.center-advertising {
    background-color: var(--soft-grey);
    width: 500px;
    height: 150px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.center-advertising p {
    color: var(--font-grey);
    margin-bottom: 10px;
    font-size: 1.2em;
}

.center-advertising a p:hover{
    color: var(--dark-grey);
}

/*-----------------------------*/

.left-panel {
    background-color: var(--soft-grey);
    width: 25%;
    height: 100%;
    padding: 10px;
}

.left-panel p {
    color: var(--font-grey);
    font-size: 1.2em;
}

/*----------------------------*/

.right-body-group {
    flex-direction: column;
    width: 25%;
}

.right-panel {
    background-color: var(--soft-grey);
    width: 100%;
    height: 40%;
    padding: 10px;
}

.right-panel-2 {
    margin-top: 20px;
}

.right-panel p {
    color: var(--font-grey);
    font-size: 1.2em;
}

/*-------------------------------*/
