<nav
  class="navbar navbar-expand-md navbar-dark fixed-top app-border-bottom nav-bg"
>
  <div class="container">
    <a
      class="navbar-brand font-weight-bold color-primary font-size-logo"
      href="#"
      >Innovation Hub</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto" *ngIf="accountService.currenUser$ | async">
        <li class="nav-item active">
          <a
            class="nav-link color-secondary font-weight-bold font-size-button"
            href="#"
            >Início <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
      <!--
          <form class="form-inline mt-2 mt-md-0">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
      -->
      <div class="dropdown" *ngIf="accountService.currenUser$ | async" dropdown>
        <a
          class="dropdown-toggle text-light color-secondary font-size-button font-weight-bold"
          dropdownToggle
          >Bem Vindo</a
        >
        <div class="dropdown-menu mt-2" *dropdownMenu>
          <a
            class="dropdown-item color-secondary font-size-button font-weight-bold"
            >Conta</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item color-secondary font-size-button font-weight-bold"
            (click)="logout()"
            >Sair</a
          >
        </div>
      </div>

      <div
        class="navbar-nav ml-auto"
        *ngIf="(accountService.currenUser$ | async) === null"
      >
        <button
          class="btn btn-secondary my-2 my-sm-0 mx-2 bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
          type="button"
          (click)="openModal(signupmodal)"
        >
          Cadastrar
        </button>
        <button
          class="btn btn-primary my-2 my-sm-0 mx-2 bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
          type="button"
          (click)="openModal(loginmodal)"
        >
          Entrar
        </button>
      </div>
    </div>
  </div>
</nav>

<!--Signup Modal-->
<ng-template #signupmodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left color-primary">Cadastro</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body color-primary">
    <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
      <div class="form-group">
        <label class="font-size-small" for="exampleInputEmail1">E-mail</label>
        <input
          type="email"
          class="form-control app-border"
          aria-describedby="emailHelp"
          name="email"
          [(ngModel)]="model.email"
          placeholder="E-mail"
        />
      </div>
      <div class="form-group">
        <label class="font-size-small" for="exampleInputEmail1">Apelido</label>
        <input
          type="text"
          class="form-control app-border"
          aria-describedby="usernameHelp"
          name="username"
          [(ngModel)]="model.username"
          placeholder="Apelido"
        />
      </div>
      <div class="form-group">
        <label class="font-size-small" for="exampleInputPassword1">Senha</label>
        <input
          type="password"
          class="form-control app-border"
          name="password"
          [(ngModel)]="model.password"
          placeholder="Senha"
        />
      </div>
      <div class="form-group">
        <label class="font-size-small" for="exampleInputPassword1"
          >Repita a senha</label
        >
        <input
          type="password"
          class="form-control app-border"
          name="confirmpassword"
          [(ngModel)]="model.confirmpassword"
          placeholder="Repita a senha"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
      >
        Cadastrar
      </button>
      <button
        type="button"
        class="btn btn-secondary ml-2 bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
        (click)="modalRef?.hide()"
      >
        Fechar
      </button>
    </form>
    <a
      class="already-account color-primary"
      (click)="modalRef?.hide()"
      (click)="openModal(loginmodal)"
      >Já possui uma conta? Clique para fazer login!</a
    >
  </div>
</ng-template>

<!--Login Modal-->
<ng-template #loginmodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left color-primary">Entrar</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body color-primary">
    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
      <div class="form-group">
        <label class="font-size-small" for="exampleInputEmail1"
          >E-mail ou apelido</label
        >
        <input
          type="text"
          class="form-control app-border"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="emailorusername"
          placeholder="E-mail ou apelido"
          [(ngModel)]="model.emailorusername"
        />
      </div>
      <div class="form-group">
        <label class="font-size-small" for="exampleInputPassword1">Senha</label>
        <input
          type="password"
          class="form-control app-border"
          id="exampleInputPassword1"
          name="password"
          placeholder="Senha"
          [(ngModel)]="model.password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary btn btn-secondary bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
      >
        Entrar
      </button>
      <button
        type="button"
        class="btn btn-secondary ml-2 bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
        (click)="modalRef?.hide()"
      >
        Fechar
      </button>
    </form>
    <a
      class="no-account color-primary"
      (click)="modalRef?.hide()"
      (click)="openModal(signupmodal)"
      >Não possui cadastro? Clique para fazer cadastro!</a
    >
  </div>
</ng-template>
