<nav
  class="navbar navbar-expand-md navbar-dark fixed-top app-border-bottom nav-bg"
>
  <div class="container">
    <a
      class="navbar-brand font-weight-bold color-primary font-size-logo"
      routerLink="/"
      >Innovation Hub</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item active">
            <a
              class="nav-link color-secondary font-weight-bold font-size-button"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Início <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a
              class="nav-link color-secondary font-weight-bold font-size-button"
              routerLink="/feed"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Feed <span class="sr-only">(current)</span></a
            >
          </li>
        </ng-container>
      </ul>
      <app-welcome-dropdown></app-welcome-dropdown>
      <div
        class="navbar-nav ml-auto"
        *ngIf="(accountService.currentUser$ | async) === null"
      >
        <button
          class="btn btn-secondary my-2 my-sm-0 mx-2 bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
          id="openModalBtn"
          type="button"
          (click)="openModal(signupmodal)"
        >
          Cadastrar
        </button>
        <button
          class="btn btn-primary my-2 my-sm-0 mx-2 bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
          type="button"
          (click)="openModal(loginmodal)"
        >
          Entrar
        </button>
      </div>
    </div>
  </div>
</nav>

<!--Signup Modal-->
<ng-template #signupmodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left color-primary">Cadastro</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body color-primary">
    <form
      #registerForm="ngForm"
      (ngSubmit)="register()"
      autocomplete="off"
      id="register_form"
    >
      <div class="form-group">
        <label class="font-size-small" for="exampleInputEmail1">E-mail</label>
        <input
          type="email"
          class="form-control app-border"
          aria-describedby="emailHelp"
          name="email"
          [(ngModel)]="model.email"
          placeholder="E-mail"
        />
      </div>
      <div class="form-group">
        <label class="font-size-small" for="exampleInputEmail1">Nome</label>
        <input
          type="text"
          class="form-control app-border"
          aria-describedby="nameHelp"
          name="name"
          [(ngModel)]="model.name"
          placeholder="Nome"
        />
      </div>
      <div class="form-group">
        <label class="font-size-small" for="exampleInputEmail1"
          >Sobrenome</label
        >
        <input
          type="text"
          class="form-control app-border"
          aria-describedby="lastnameHelp"
          name="lastname"
          [(ngModel)]="model.lastname"
          placeholder="Sobrenome"
        />
      </div>
      <div class="form-group">
        <label class="font-size-small" for="exampleInputEmail1"
          >Data de nascimento</label
        >
        <input
          type="date"
          class="form-control app-border"
          aria-describedby="birthdayHelp"
          name="birthday"
          [(ngModel)]="model.birthday"
          placeholder="Data de Nascimento"
        />
      </div>
      <div class="form-group">
        <label class="font-size-small" for="exampleInputEmail1">Apelido</label>
        <input
          type="text"
          class="form-control app-border"
          aria-describedby="usernameHelp"
          name="username"
          [(ngModel)]="model.username"
          placeholder="Apelido"
        />
      </div>
      <!--Interest Areas Dropdown-->
      <label class="font-size-small">Áreas de interesse</label>
      <div class="dropdown" dropdown [dropup]="true">
        <a
          class="dropdown-toggle text-light color-secondary font-size-small app-dropdown-border"
          dropdownToggle
          >{{
            "Áreas de interesse: " + interestareascount + " selecionadas"
          }}</a
        >
        <div
          class="dropdown-menu mt-2"
          id="interest-areas-dropdown"
          onclick="event.stopPropagation()"
          *dropdownMenu
        >
          <div
            class="container row"
            style="width: max-content; max-width: 750px"
          >
            <div
              class="form-check dropdown-item color-secondary font-size-small col-lg-6"
              *ngFor="
                let area of interestedAreasService.interestAreasList$;
                index as i
              "
            >
              <input
                class="form-check-input"
                type="checkbox"
                name="interestareas"
                value="{{ i }}"
                id="{{ area }}"
                (click)="onAreaSelect($event)"
              />
              <label class="form-check-label" for="{{ area }}">
                {{ area }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <!--Interest Areas Dropdown-->
      <div class="form-group">
        <label class="font-size-small" for="exampleInputPassword1">Senha</label>
        <input
          type="password"
          class="form-control app-border"
          name="password"
          [(ngModel)]="model.password"
          placeholder="Senha"
        />
      </div>
      <div class="form-group">
        <label class="font-size-small" for="exampleInputPassword1"
          >Repita a senha</label
        >
        <input
          type="password"
          class="form-control app-border"
          name="confirmpassword"
          [(ngModel)]="model.confirmpassword"
          placeholder="Repita a senha"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
      >
        Cadastrar
      </button>
      <button
        type="button"
        class="btn btn-secondary ml-2 bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
        (click)="modalRef?.hide()"
      >
        Fechar
      </button>
    </form>
    <a
      class="already-account color-primary"
      (click)="modalRef?.hide()"
      (click)="openModal(loginmodal)"
      >Já possui uma conta? Clique para fazer login!</a
    >
  </div>
</ng-template>

<!--Login Modal-->
<ng-template #loginmodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left color-primary">Entrar</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body color-primary">
    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
      <div class="form-group">
        <label class="font-size-small" for="exampleInputEmail1"
          >E-mail ou apelido</label
        >
        <input
          type="text"
          class="form-control app-border"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="emailorusername"
          placeholder="E-mail ou apelido"
          [(ngModel)]="model.emailorusername"
        />
      </div>
      <div class="form-group">
        <label class="font-size-small" for="exampleInputPassword1">Senha</label>
        <input
          type="password"
          class="form-control app-border"
          id="exampleInputPassword1"
          name="password"
          placeholder="Senha"
          [(ngModel)]="model.password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary btn btn-secondary bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
      >
        Entrar
      </button>
      <button
        type="button"
        class="btn btn-secondary ml-2 bg-transparent app-border color-secondary font-size-button font-weight-bold app-buttom"
        (click)="modalRef?.hide()"
      >
        Fechar
      </button>
    </form>
    <a
      class="no-account color-primary"
      (click)="modalRef?.hide()"
      (click)="openModal(signupmodal)"
      >Não possui cadastro? Clique para fazer cadastro!</a
    >
  </div>
</ng-template>
