<div class="feed-background row">
  <div class="start-project-card app-border col-lg-9">
    <form>
      <div class="form-group" style="display: flex; flex-direction: column">
        <h3 style="display: flex; flex-direction: row">
          Começar um ...
          <select
            class="form-control col-3 ml-3 app-border"
            id="exampleFormControlSelect1"
          >
            <option>Projeto</option>
            <option>Ideia</option>
            <option>Problema</option>
          </select>
        </h3>
        <label for="exampleFormControlInput1">Título</label>
        <input
          type="email"
          class="form-control app-border"
          id="exampleFormControlInput1"
          placeholder="Título"
          style="width: 300px"
        />
        <label
          >Categoria
          <select
            class="form-control app-border"
            id="exampleFormControlSelect1"
            style="width: 300px"
          >
            <option
              *ngFor="
                let area of this.interestAreasService.interestAreasList$;
                index as i
              "
              value="{{ i }}"
            >
              {{ area }}
            </option>
          </select>
        </label>
        <label for="exampleFormControlTextarea1"
          >Descrição
          <textarea
            class="form-control app-border"
            id="exampleFormControlTextarea1"
            rows="4"
            cols="40"
            placeholder="Descrição"
          ></textarea>
        </label>
        <button
          type="submit"
          class="btn app-border color-secondary font-weight-bold app-buttom"
        >
          Postar
        </button>
      </div>
    </form>
  </div>
  <div
    class="container pt-3 pb-5 home-body row"
    *ngIf="accountService.currentUser$ | async"
    style="margin: auto"
  >
    <div class="col-lg-9">
      <div class="row">
        <div>
          <tabset>
            <tab heading="Projetos" id="tab1" (selectTab)="onProjectsTab()"
              ><br
            /></tab>
            <tab heading="Ideias" (selectTab)="onIdeasTab()"><br /></tab>
            <tab heading="Problemas" (selectTab)="onProblemsTab()"><br /></tab>
          </tabset>
        </div>
        <div class="ml-auto mr-5 mt-2 color-secondary">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="1"
              checked
              (change)="toggleRadios($event.target.value)"
            />
            <label class="form-check-label" for="inlineRadio1">Em Alta</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="2"
              (change)="toggleRadios($event.target.value)"
            />
            <label class="form-check-label" for="inlineRadio2">Recentes</label>
          </div>
        </div>
      </div>
      <!--Projetos-->
      <div
        class="row"
        style="overflow-y: auto; max-height: 1000px; overflow-x: hidden"
        (scroll)="onProposalsScroll($event)"
      >
        <div *ngFor="let proposal of items$ | async" class="row col-lg-12">
          <app-feed-card
            [proposal]="proposal"
            class="col-lg-12"
          ></app-feed-card>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <h4 class="color-secondary">Categorias</h4>
      <div class="home-categories">
        <div
          *ngFor="
            let area of this.interestAreasService.interestAreasList$;
            index as i
          "
          class="row"
        >
          <button
            class="btn btn-primary mx-2 bg-transparent app-border color-secondary font-size-category font-weight-bold app-buttom mb-2 col-lg-12"
            type="button"
            value="{{ i }}"
            (click)="setCategory($event.target.value)"
          >
            {{ area }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
