.feed-background {
  width: 100%;
  height: 100vh;
  background: url(../../../assets/images/lamps-background.png) no-repeat center
    center fixed;
  padding-top: 100px !important;
  margin: 0 !important;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.start-project-card {
  width: 600px;
  margin: auto;
  background-color: #f2f2f2;
  color: #f29f05;
  padding: 10px;
}

.app-border {
  border: 2px solid #a6a6a6 !important;
  border-radius: 5px;
}

.color-secondary {
  color: #a6a6a6 !important;
}

.app-buttom {
  background-color: #f2f2f2 !important;
}

.app-buttom:hover {
  background-color: #f29f05 !important;
}

.home-body {
  display: flex;
  flex-direction: row;
  width: 1000px;
}
