<label class="font-size-small">Áreas de interesse</label>
<div class="dropdown" dropdown>
  <a
    class="dropdown-toggle text-light color-secondary font-size-small app-border"
    dropdownToggle
    >Áreas de interesse</a
  >
  <div
    class="dropdown-menu mt-2"
    id="interest-areas-dropdown"
    onclick="event.stopPropagation()"
    *dropdownMenu
  >
    <div class="form-check dropdown-item color-secondary font-size-small">
      <input
        class="form-check-input"
        type="checkbox"
        value="arte_e_entretenimento"
        id="arte_e_entretenimento"
      />
      <label class="form-check-label" for="arte_e_entretenimento">
        Arte e Entretenimento
      </label>
    </div>
    <div class="form-check dropdown-item color-secondary font-size-small">
      <input
        class="form-check-input"
        type="checkbox"
        value="automoveis_e_outros_veiculos"
        id="automoveis_e_outros_veiculos"
      />
      <label class="form-check-label" for="automoveis_e_outros_veiculos">
        Automóveis e Outros Veículos
      </label>
    </div>
    <div class="form-check dropdown-item color-secondary font-size-small">
      <input
        class="form-check-input"
        type="checkbox"
        value="informatica_e_eletronica"
        id="informatica_e_eletronica"
      />
      <label class="form-check-label" for="informatica_e_eletronica">
        Informática e Eletrônica
      </label>
    </div>
    <div class="form-check dropdown-item color-secondary font-size-small">
      <input
        class="form-check-input"
        type="checkbox"
        value="educacao_e_comunicacao"
        id="educacao_e_comunicacao"
      />
      <label class="form-check-label" for="educacao_e_comunicacao">
        Educação e Comunicação
      </label>
    </div>
    <div class="form-check dropdown-item color-secondary font-size-small">
      <input
        class="form-check-input"
        type="checkbox"
        value="vida_e_familia"
        id="vida_e_familia"
      />
      <label class="form-check-label" for="vida_e_familia">
        Vida e Família
      </label>
    </div>
    <div class="form-check dropdown-item color-secondary font-size-small">
      <input
        class="form-check-input"
        type="checkbox"
        value="negocios_e_financas"
        id="negocios_e_financas"
      />
      <label class="form-check-label" for="negocios_e_financas">
        Negócios e Finanças
      </label>
    </div>
    <div class="form-check dropdown-item color-secondary font-size-small">
      <input
        class="form-check-input"
        type="checkbox"
        value="culinaria_e_gastronimia"
        id="culinaria_e_gastronimia"
      />
      <label class="form-check-label" for="culinaria_e_gastronimia">
        Culinária e Gastronomia
      </label>
    </div>
    <div class="form-check dropdown-item color-secondary font-size-small">
      <input
        class="form-check-input"
        type="checkbox"
        value="saude"
        id="saude"
      />
      <label class="form-check-label" for="saude"> Saúde </label>
    </div>
    <div class="form-check dropdown-item color-secondary font-size-small">
      <input
        class="form-check-input"
        type="checkbox"
        value="artesanato_e_hobby"
        id="artesanato_e_hobby"
      />
      <label class="form-check-label" for="artesanato_e_hobby">
        Artesanato e Hobby
      </label>
    </div>
  </div>
</div>
